label.burger
	input.burger__input(type='checkbox')
	svg.strokeWrap(viewBox="30 30 40 40" xmlns='http://www.w3.org/2000/svg')
		path.strokeWrap__stroke._first(d='M0 40h62c13 0 6 28-4 18L35 35')
		path.strokeWrap__stroke._second(d='M0 50h70')
		path.strokeWrap__stroke._third(d='M0 60h62c13 0 6-28-4-18L35 65')