.menu
	.menu__item._seedling
	.menu__item._sepal
	.menu__item._linden
	.menu__item._pine
	.menu__item._palm
	.menu__item._fir
	.menu__item._rose
	.menu__item._willow
	.menu__item._sunflower
	.menu__item._bell
	.menu__item._poplar