html
	head
		include template/head.pug
		include template/partials/_general.pug
	body
		.container
			include template/partials/menu/_menu.pug
			include template/partials/menu/_burger.pug
			include template/partials/trees/_seedling.pug
			include template/partials/trees/_sepal.pug
			include template/partials/trees/_linden.pug
			include template/partials/trees/_pine.pug
			include template/partials/trees/_palm.pug
			include template/partials/trees/_fir.pug
			include template/partials/trees/_rose.pug
			include template/partials/trees/_willow.pug
			include template/partials/trees/_sunflower.pug
			include template/partials/trees/_bell.pug
			include template/partials/trees/_poplar.pug
		include template/partials/_mainScripts.pug