mixin crownsMix(side)
	.crown._1
	.crown._2
	.crown._3
	.crown._4
	.crown._5
	.crown._6
	.crown._7
	.crown._8
	.crown._9(class=`_margin_${side}CW`)
	.crown._10(class=`_margin_${side}CW`)
.fir
	.centerRod
		.sideRods__crownsWrap._centerCW
			+crownsMix('')
		.sideRods
			.kernel._bottomR._bg_black
			.sideRods__crownsWrap._leftCW
				+crownsMix('')
			.sideRods__crownsWrap._rightCW
				+crownsMix('right')
		.angleLeftRod
			.angleLeftRod__leftBtunch
				.kernel._centered._bg_red
		.angleRightRod
			.angleLeftRod__rightBtunch
				.kernel._centered._bg_red
				.crown._1._margin_rightB
				.crown._2._margin_rightB
				.crown._3._margin_rightB
		.centerRod__basis._bg_red
		.kernel._bottom._centered._bg_black
		.roots
	.constellation
		.line
			.star._small._bg_red
			.star._big._bg_black
		.moon