.linden
	.leftRod
		.leftRod__leftBruch
			.circle._bg_black._cmlb
	.centerRod
		.bottomArc
			.bottomArc__rightBranch
				.crown._md_horizontal._bg_black._position_2
					.circle._bg_red._center
			.crown._sm._bg_red._position_1
		.topArc
			.topArc__leftBranch
			.crown._sm._bg_black._position_3
			.crown._md._bg_black._position_4
				.circle._bg_red._center
		.crown._lg._bg_red._position_5
			.circle._bg_black._center
			.basisBrunch
	.rightRod
		.rightRod__rightBruch
			.circle._bg_red._cmrb