.pine
	.leftRod
		.leftRod__rightBrunch
			.crown._lg._bg_red._position_1
				.kernel._bg_black
				.basisBrunch
	.centerRod
		.centerRod__bottomLeftBrunch
			.crown._md._bg_red._position_3
				.kernel._bg_black
				.basisBrunch
		.centerRod__bottomRightBrunch
			.crown._md._bg_black._position_4
				.kernel._bg_red
		.centerRod__topLeftBrunch
			.crown._sm._bg_black._position_5
				.kernel._bg_red
				.centerBrunch
					.centerBrunch__leftBrunch._bg_black
						.circle._bg_red
		.centerRod__topRightBrunch
			.crown._sm._bg_red._position_6
				.kernel._bg_black
				.centerBrunch
				.basisBrunch
		.crown._xs._bg_black._position_7
				.kernel._bg_red
				.basisBrunch
	.rightRod
		.rightRod__leftBrunch
			.crown._lg._bg_black._position_2
				.kernel._bg_red
				.crown__leftBrunch._bg_black
					.circle._bg_black