.sepal
	.rod
		.arc
			.arc__circle
		.cup._center
		.cup._left._l1
			.kernel
		.cup._left._l2
			.kernel
		.cup._left._l3
			.kernel
		.cup._left._l4
			.kernel
		.cup._r1
		.cup._r2
		.cup._r3
		.brunch